@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40300%3B400&family=Roboto%3Awght%40700&family=Rubik%3Aital%2Cwght%400%2C400%3B1%2C300%3B1%2C400&display=swap%27%29%3B);

/*--CONFIGURAÇÃO DA PAGINA COM TODOS OS ELEMENTOS.(*)--*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;/*faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura.*/
}

html {
    font-size: 62.5%;

}

body, html {
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.pinimg.com/originals/de/10/7a/de107aafcaf3d5f88f57598125a68c9c.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*---------------------------------------------------*/

/*----CONFIGURAÇÕES DE CONTEÚDO------*/

.content {
    display: flex;
    flex-direction: column; /*permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal.*/
    height: 480px;
    min-height: 440px; /*estabelecer valores mínimo e máximo para uma altura definida em porcentagem*/
    max-height: 500px;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
   
}

header span {
    font-family: "Roboto";
    font-weight: bold;
    color: #f3f3f2;
    font-size: 6.4rem;
    margin-left: 25px;
}

main {
    margin: auto;
    width: 85%;
    height: 70%;
}

main form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: -30px;
}


.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    border: 2px solid #fefefe;
    flex-direction: row-reverse;
    transition: 0.3s;
    border-radius: 0 8px 8px 0;

}

.input-field:hover {
   border: 2px solid #adcfc4;    
}

.input-field input {
    border: none;
    outline: none;
    background: #def7f4;
    width: 82%;
    height: 5.5rem;
    padding-left: 20px;
    font-size: 2rem;
    font-family: "Poppins";
    border-radius: 0 8px 8px 0;
}

.input-field:hover > input {
    background-color: #d6f1e8; 
}

::-webkit-input-placeholder {
   color: #6d6e6f;
   font-weight: 300; 

}

.input-field label {
    height: 5.5rem;
    width: 18%;
    display: flex;
    align-items: ceneter;
    justify-content: center;

}

.input-field label img {
   
    width: 100%;
    height: 100%;
}

.checkbox label {
    color: #def7f4;
    font-family: "Rubik";
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s;
}

.checkbox label:hover > label {
    color: #c0e8ee;
}

.checkbox input {
    display: none;
}

.checkbox input + label::before {
    content: ''; 
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: middle;
    border: 2px solid #def7f4;
    border-radius: 5px;
    margin-right: 10px;

}

.checkbox input:checked + label::before{
    background: url('./img/check.svg') no-repeat center;  
}

form button{
    height: 5.5rem;
    background: linear-gradient(45deg, rgb(7, 11, 123), rgb(0, 106, 255));
    border: none;
    border-radius: 10px;
    color: #def7f4;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    font-family: "Rubik";
    transition: .3s;

}

form button:hover {
    background: linear-gradient(45deg, rgb(230, 0, 0), rgb(0, 0, 0));
}

    

.content footer{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: ceneter;
    height: 20%;
    border-bottom: 2px solid #def7f478;
    
}

footer a {
    color: #cbf0ee;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Rubik';
    font-style: italic;
    transition: 0.3s;
    margin-top: 5px;

}

footer a:hover {
    color: red;  
}

footer span a {
    font-weight: 300;
    color: #aee1e8;
}

footer span a {
    color: #a1d1d6;
}

@media(max-width: 600px){
    html {
        font-size: 58%;
    }

    header span {
        font-size: 5.5rem;
    }
}

@media(max-width: 470px) {
    html{
        font-size: 56%;
    }

    header span {
        display: none;
    }

    .content {
        width: 80%;
    }

    .content main, .content footer{
        width: 100%;  
    }

    .content footer a {
        font-size: 1.4rem;
    }
}

